html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    vertical-align: bottom;
}
body {
    line-height:1;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}
nav,ul {
    list-style:none;
}

@font-face {
  font-family: 'myfont';
  src: url("norwester.otf");
}

/* 全体のラップ */
#container{
    min-width: 1040px;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 28px;
}
/* 全体のラップ */
.button_toTop{
    top: 550px;
    right: 73px;
    position: fixed;
    z-index: 1000;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding-top: 31px;
    padding-left: 23px;
    background-color: #000;
    opacity: 0.3;
}
.button_toTopLink{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* ヘッダー */
.header{
    overflow: hidden;
}

    /* タイトルコンポーネント */
    .header_title{
        float: left;
        font-size: 180%;
    }
    .header_titleLink{
        display: block;
        text-decoration: none;
        color: #000;
        font-family: myfont;
    }
    /* タイトルコンポーネント */

    /* 概要リストコンポーネント */
    .header_navTop{
        float: right;
        width: 300px;
    }
    .header_navTopList{
        overflow: hidden;
        line-height: 100%;
    }
    .header_navTopListItem{
        float: left;
        width: 32%;
        font-size: 80%;
        text-align: center;
    }
    .header_navTopListItem_center{
        float: left;
        width: 30%;
        font-size: 80%;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
    }
    .header_navTopListItemLink{
        color: #000;
        text-decoration: none;
    }
    /* 概要リストコンポーネント */
    
    /* ナビコンポーネント */
    .header_navMenu{
        width: 100%;
    }
    .header_navMenuList{
        width: 100%;
        overflow: hidden;
        margin-top: 2%;
    }
    .header_navMenuListItem{
        float: left;
        width: 14%;
    }
    .header_navMenuListItemLink{
        display: block;
        text-decoration: none;
        padding: 14%;
        color: #000;
        text-align: center;
        font-family: myfont;
        font-size: 130%;
    }
    .header_navMenuListItemLink:hover{
        opacity: 0.5;
    }
    /* ナビコンポーネント */
/* ヘッダー */


/* メインセクション */
.main{
    
}
    /* メインセクショントップ */
    .main_top{
        
    }
    .main_topImage{
        width: 100%;
    }
    /* メインセクショントップ */
    
    /* メインセクションコンテンツ */
    .mainSection{
        overflow: hidden;
        margin-top: 46px;
        margin-bottom: 60px;
    }
        /* アサイドセクション */
            /* カテゴリセクション */
            .aside{
                width: 230px;
                float: left;
            }
            .aside_nav{
                margin-bottom: 47px;
            }
            .aside_title{
                font-size: 140%;
                border-left: 5px solid #01479d;
                padding-left: 12px;
                margin-bottom: 26px;
                line-height: 40px;
            }
            .aside_nav{
                
            }
            .aside_navListItem{
                margin-top: 4%;
                font-size: 90%;
            }
            .aside_navListItemLink{
                text-decoration: none;
                color: #000;
            }
            .aside_navListChildList{
                
            }
            .aside_navListChildListItem{
                margin-left: 14%;
                margin-top: 4%;
                font-size: 90%;
            }
            .aside_navListChildListItemLink{
                text-decoration: none;
                color: #000;
            }
            /* カテゴリセクション */
            
            /* カレンダーセクション */
            .aside_calender{
                
            }
            .aside_calenderTable{
                width: 215px;
            }
            .aside_calenderTableTh{
                font-size: 60%;
            }
            .aside_calenderTableTh_sun{
                font-size: 60%;
                color: red;
            }
            .aside_calenderTableTh_sat{
                font-size: 60%;
                color: blue;
            }
            .aside_calenderTableThDate{
                font-size: 60%;
                text-align: center;
                line-height: 200%;
            }
            /* カレンダーセクション */
        /* アサイドセクション */
        /* トピックスセクション */
        .mainContents{
            width: 770px;
            float: left;
        }
        .mainContents_topics{
            margin-bottom: 60px;
        }
        .mainContents_title{
            font-size: 140%;
            border-left: 5px solid #4489ca;
            padding-left: 12px;
            margin-bottom: 30px;
            line-height: 40px;
        }
        .mainContents_topicsItem{
            overflow: hidden;
            margin-bottom: 3%;
        }
        .mainContents_topicsItemDate{
            width: 115px;
            float: left;
            font-size: 90%;
            line-height: 140%;
            text-align: center;
        }
        .mainContents_topicsItemText{
            width: 655px;
            float: left;
            font-size: 90%;
            line-height: 140%;
        }
        /* トピックスセクション */
        
        /* レコメンドセクション */
        .mainContents_recommend{
            overflow: hidden;
            margin-bottom: 50px;
        }
        .mainContents_recommendItem{
            float: left;
            position: relative;
            width: 250px;
        }
        .mainContents_recommendItem_center{
            float: left;
            width: 250px;
            margin-left: 10px;
            margin-right: 10px;
            position: relative;
        }
        .mainContents_recommendItemImg{
            margin-bottom: 4%;
        }
        .mainContents_recommendItemTag_new{
            position: absolute;
            left: 0;
            top: 15px;
            background-color: #fff;
            line-height: 140%;
            font-size: 70%;
            padding: 1% 5%;
        }
        .mainContents_recommendItemTag_recommend{
            position: absolute;
            left: 0;
            top: 15px;
            background-color: #fff;
            line-height: 140%;
            font-size: 70%;
            padding: 1% 5%;
        }
        .mainContents_recommendItemTag_sale{
            position: absolute;
            left: 0;
            top: 15px;
            background-color: #fff;
            color: #ff4347;
            line-height: 140%;
            font-size: 70%;
            padding: 1% 5%;
        }
        .mainContents_recommendItemText{
            font-size: 90%;
            line-height: 140%;
            margin-bottom: 3%;
        }
        .mainContents_recommendItemPrice{
            
        }
        /* レコメンドセクション */
        
        /* ピックアップセクション */
        .mainContents_pickupItem{
            overflow: hidden;
        }
        .mainContents_pickupItemImgBlock{
            float: left;
        }
        .mainContents_pickupItemImgBlock_center{
            float: left;
            margin-left: 10px;
            margin-right: 10px;
        }
        .mainContents_pickupItemImgBlock_middle{
            float: left;
            margin-top: 10px;
            margin-bottom: 10px
        }
        .mainContents_pickupItemImgBlock_middleCenter{
            float: left;
            margin: 10px;
        }
        .mainContents_pickupItemImg{
        }
        /* ピックアップセクション */
    /* メインセクションコンテンツ */
/* メインセクション */

/* フッターセクション */
.footer{
    border-top: 20px solid #e5e5e5;
    padding: 25px 0;
}
.footer_text{
    text-align: center;
    font-size: 60%;
}
/* フッターセクション */